@model FilmReview.Models.Films

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Films</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmImageLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmImageLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmTags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmTags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FilmID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
