@model List<Films>
@using NomaniusMVC
@{
    ViewData["Title"] = "Home Page";
    string error="https://img.freepik.com/free-vector/glitch-error-404-page-background_23-2148072411.jpg?size=626&ext=jpg";
    /*
             <br />
    <div class="container">
    @for (var i = 0; i < Model.Count; i += 4)
            {
            <div class="row">
            @for (var j = i; j < i + 4 && j < Model.Count; j++)
                {
                <div class="card col" style="margin-bottom: 10px; margin-right: 10px;">
                    <img src="@Model[j].FilmImageLink" alt="@error" width="170" height="250"/>
                        <div class="card-body">
                            @{
                            float Rating = 0;
                             if (Model[j].Total!=0)
                             Rating = (float)Model[j].Summ / (float)Model[j].Total;
                        }
                        <h5>@Model[j].FilmName @Rating</h5>
                        <p>@Model[j].FilmTags</p>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="FilmDetails" asp-route-id="@Model[j].FilmID">Подробнее</a>
                </div>
        </div>
    }
                </div>
     }
    </div>
    */
}
<h1>А</h1>
@(await BlazorPage.Render<FilmReview.Views.Components.SearchFilms>(Html))
