@using FilmReview.Models
@using FilmReview.Data
@using Microsoft.EntityFrameworkCore
@inject MyContext _context
<img src="@FilmsAndData.Film.FilmImageLink" />
<h1>@((float)FilmsAndData.Film.Summ / (float)FilmsAndData.Film.Total) </h1>
@if (FilmsAndData.isAdmin != null)
{
    <Div class="display-6">
        <Blazorise.Rating  TextColor="TextColor.Success" @bind-SelectedValue="@FilmsAndData.Rank" MaxValue="5" @onclick="RateFilm" />
    </Div>
}
<h4>О фильме: @FilmsAndData.Film.About</h4>
<h5>Страна: @FilmsAndData.Film.Country | Год: @FilmsAndData.Film.Year </h5>
<h5>Длительность: @FilmsAndData.Film.Duration | MPAA: @FilmsAndData.Film.MPAA </h5>


@code {
    [Parameter]
    public FilmsAndData FilmsAndData { get; set; }
    int oldRank = 0;
    protected override async Task OnInitializedAsync()
    {
        if (FilmsAndData.Rank != 0)
        {
            oldRank = FilmsAndData.Rank;
            pressed = true;
        }
        else pressed = false;

    }
    public int[] array = new int[5];
    public bool pressed { get; set; }
    private async Task RateFilm()
    {
        if (FilmsAndData.Rank > 0 && FilmsAndData.Rank < 6)
        {
            Reviews review = _context.Reviews.FirstOrDefault(p => p.ReviewID == FilmsAndData.ReviewID);
            review.UserID = (int)FilmsAndData.currentUserID;
            review.Rank =(int)FilmsAndData.Rank;
            Films film =_context.Films.FirstOrDefault(p=>p.FilmID==FilmsAndData.Film.FilmID);
            review.FilmID = FilmsAndData.Film.FilmID;
            if (FilmsAndData.ReviewID!= null&&pressed==true)
            {
                film.Summ -= oldRank;
                film.Summ += review.Rank;
            }
            else
            {
                film.Total += 1;
                film.Summ += review.Rank;
                pressed = true;
                _context.Reviews.Add(review);
            }
            oldRank = FilmsAndData.Rank;
            FilmsAndData.Film = film;
            await _context.SaveChangesAsync();
        }
    }
}
