@using FilmReview.Models
@using FilmReview.Data
@using Microsoft.EntityFrameworkCore
@inject MyContext _context
<img src="@FilmsAndData.Film.FilmImageLink" />
@{
    float result =(float)FilmsAndData.Film.Summ / (float)FilmsAndData.Film.Total;
}
<h1>@result </h1>
<h4>О фильме: @FilmsAndData.Film.About</h4>
<h5>Страна: @FilmsAndData.Film.Country | Год: @FilmsAndData.Film.Year </h5>
<h5>Длительность: @FilmsAndData.Film.Duration | MPAA: @FilmsAndData.Film.MPAA </h5>
@if (FilmsAndData.isAdmin != null)
{
    <Blazorise.Rating  Color="Color.Success" @bind-SelectedValue="@FilmsAndData.Rank" MaxValue="5" @onclick="RateFilm" />
}

@code {
    [Parameter]
    public FilmsAndData FilmsAndData { get; set; }
    int oldRank = 0;
    protected override async Task OnInitializedAsync()
    {
        oldRank = FilmsAndData.Rank;
    }
    public int[] array = new int[5];
    private async Task RateFilm()
    {
        if (FilmsAndData.Rank > 0 && FilmsAndData.Rank < 6)
        {
            Reviews review = new Reviews();
            review.UserID = (int)FilmsAndData.currentUserID;
            review.FilmID = FilmsAndData.Film.FilmID;
            review.Rank =(int)FilmsAndData.Rank;
            Films film = FilmsAndData.Film;
            if (FilmsAndData.ReviewID != null)
            {
                review.ReviewID = (int)FilmsAndData.ReviewID;
                film.Summ -= oldRank;
                film.Summ += review.Rank;
                _context.Reviews.Update(review);
            }
            else
            {
                film.Total += 1;
                film.Summ += review.Rank;
                _context.Reviews.Add(review);
            }
            _context.Films.Update(film);
            await _context.SaveChangesAsync();
            }
    }
}
