@using FilmReview.Data
@using FilmReview.Models
@using Microsoft.AspNetCore.Mvc
@using NomaniusMVC
<Dropdown>
    <DropdownToggle Color="Color.Primary">
        Выберите тэги для поиска
    </DropdownToggle>
    <DropdownMenu>
        <DropdownItem ShowCheckbox>драма</DropdownItem>
        <DropdownDivider />
        <DropdownItem ShowCheckbox>фэнтези</DropdownItem>
        <DropdownItem ShowCheckbox Disabled>хоррор :)</DropdownItem>
    </DropdownMenu>
</Dropdown>
<br />
<div class="container">
    @for (var i = 0; i < Films.Count; i += 4)
    {
        <div class="row">
            @for (var j = i; j < i + 4 && j < Films.Count; j++)
            {
                <div class="card col" style="margin-bottom: 10px; margin-right: 10px;">
                    <img src="@Films[j].FilmImageLink" alt="@error" width="170" height="250" />
                    <div class="card-body">
                        @{
                            float Rating = 0;
                            if (Films[j].Total != 0)
                                Rating = (float)Films[j].Summ / (float)Films[j].Total;
                        }
                        <h5>@Films[j].FilmName @Rating</h5>
                        <p>@Films[j].FilmTags</p>
                        <a class="btn btn-primary" href="Home/FilmDetails/@Films[j].FilmID">Подробнее</a>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    public string error = "https://img.freepik.com/free-vector/glitch-error-404-page-background_23-2148072411.jpg?size=626&ext=jpg";
    [Inject]
    public MyContext context { get; set; }
    public List<Films> Films{ get; set; }
    protected override async Task OnInitializedAsync()
    {
        Films = context.Films.ToList();
    }
}
